[mysqld]
server_id = 99999
# Binlog configuration
gtid_mode        = ON
enforce_gtid_consistency = ON
log-bin          = ./binlog
binlog_format    = ROW
binlog_row_image = FULL
log_slave_updates
max_binlog_size  = 10K
